/* TailwindCSS */
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/* General styles */
body {
  font-family: "Inter", sans-serif;
}

.container {
  @apply w-full max-w-[1000px] mx-auto;
}

/* Custom styles */
.custom-btn {
  border: 1px solid #38bdf8;
  background: linear-gradient(180deg, #7dd3fc 0%, #38bdf8 100%);
  box-shadow: 0px -4px 7px 0px rgba(0, 0, 0, 0.09) inset,
    0px 4px 10px 0px rgba(0, 173, 255, 0.5);
}
